.sobre-festival{
    padding: 5rem 0;

    @include tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
    }
}

.contenido-festival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        font-size: 4rem;
    }
    .fecha{
        color: $rosa;
        font-weight: $bold;
    }
    .texto{
        line-height: 2;
    }

}
