.lineup{
    background-color: $rosa;
    padding: 5rem 0;
    h3,p{
        text-align: center;
        color: $blanco;
    }
    .dia{
        text-transform: uppercase;
        margin: 5rem 0;
    }
}
.escenarios-contenedor{
    @include tablet{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .escenario{
        padding-top: 3rem;
    }
    .nombre-escenario{
        color: $negro;
        font-size: 2rem;
        font-weight: $delgada;
        &:after{
            content: '';
            width: 20rem;
            height: 10rem;
            display: block;
            margin: 2rem auto 0 auto;
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.edm .nombre-escenario{
    &:after{
        background-image: url(../img/icono_edm.png);
    }
}
.rock .nombre-escenario{
    &:after{
        background-image: url(../img/icono_rock.png);
    }
}